In [1]:
import sqlite3

In [30]:
conn = sqlite3.connect('data-dev.sqlite')

In [31]:
sql_drop_table = "DROP TABLE IF EXISTS mentor_profile"

sql_create_table1 = "CREATE TABLE IF NOT EXISTS mentor_profile ( id integer PRIMARY KEY,\
last_name text NOT NULL,first_name text NOT NULL,full_name text NOT NULL,\
rating integer,domain text,introduction text,pic_path text)"

sql1 = "INSERT INTO mentor_profile(id,last_name,first_name,full_name,rating,domain,introduction,pic_path) \
VALUES(1,'Chen','Joanne','Joanne Chen',5,'Accounting, Finance',\
'5 years teaching experience, familiar with all the related courses details.',\
'mentors_pic/joanne_chen.jpg') "

sql2 = "INSERT INTO mentor_profile(id,last_name,first_name,full_name,rating,domain,introduction,pic_path) \
VALUES(2,'Ye','Gordon','Gordon Ye',5,'Statistics, Finance',\
'5 years teaching experience, familiar with all the related courses details.',\
'mentors_pic/gordon_ye.jpg') "


sql3 = "INSERT INTO mentor_profile(id,last_name,first_name,full_name,rating,domain,introduction,pic_path) \
VALUES(3,'Liu','Brian','Brian Liu',5,'Law',\
'5 years teaching experience, familiar with all the related courses details.',\
'mentors_pic/brian_liu.jpg') "

In [32]:
cur = conn.cursor()
cur.execute(sql_drop_table)
cur.execute(sql_create_table1)
cur.execute(sql1)
cur.execute(sql2)
cur.execute(sql3)

In [33]:
conn.commit()
cur.close()
conn.close()

In [29]:
sql_test = "select * from mentor_profile"

conn = sqlite3.connect('data-dev.sqlite')
cur = conn.cursor()
cur.execute(sql_test)
rows = cur.fetchall()
print rows
cur.close()
conn.close()

[(1, u'Chen', u'Joanne', u'Joanne Chen', 5, u'Accounting, Finance', u'5 years teaching experience, familiar with all the related courses details.', u'static/mentors_pic/joanne_chen.jpg'), (2, u'Ye', u'Gordon', u'Gordon Ye', 5, u'Statistics, Finance', u'5 years teaching experience, familiar with all the related courses details.', u'static/mentors_pic/gordon_ye.jpg'), (3, u'Liu', u'Brian', u'Brian Liu', 5, u'Law', u'5 years teaching experience, familiar with all the related courses details.', u'static/mentors_pic/brian_liu.jpg')]

In [3]:
a = '45-67'
a.replace('-','/')
a

'45-67'

In [ ]:
sql_drop_table = "DROP TABLE IF EXISTS mentor_detail"

sql_create_table1 = "CREATE TABLE IF NOT EXISTS mentor_detail ( id integer PRIMARY KEY,\
full_name text NOT NULL,\
domain text,introduction text,pic_path text)"